%p
  %label{:for => 'settings_days'}
    = l(:extended_reminder_days)
  = text_field_tag 'settings[days]', @settings['days'], :type => 'number', :min => 0
  %br
  %em.info
    = l(:extended_reminder_info_how_many_days)

-# Non-working days setting is supported in Redmine 2.2 or higher.
- if Redmine::VERSION.to_a[0..1].join('.').to_f >= 2.2
  %p
    %label{:for => 'settings_disable_on_non_woking_days'}
      = l(:extended_reminder_disable_on_non_woking_days)
    = check_box_tag 'settings[disable_on_non_woking_days]', 1, (@settings['disable_on_non_woking_days'].to_i != 0)
    %br
    %em.info
      = l(:extended_reminder_info_disable_on_non_woking_days)
